:host {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 20px;

  .title {
    display: grid;
    justify-content: center;
    font-size: 36px;
  }

  .player-score {
    display: grid;
    gap: 10px;
  }

  .update-player-score-container,
  .add-player-container {
    display: inline-grid;
    justify-content: center;
    align-items: center;
  }

  .new-game-button {
    padding: 10px;
    margin-top: 10px;
  }

  .finish-container {
    display: grid;
    justify-content: center;
    gap: 10px;
    font-size: 24px;

    .winner {
      display: grid;
      justify-content: center;
      font-weight: 600;
      color: rgba(40, 153, 245, 1);

      span {
        display: flex;
        justify-content: center;
      }
    }
  }
}
