/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background: rgba(26, 26, 26, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: system-ui;
}

button {
  background: rgba(40, 153, 245, 1);
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  border-radius: 2px;
  min-height: 28px;
  font-family: system-ui;
  font-weight: 600;
  cursor: pointer;
}

button[disabled] {
  background: rgba(255, 255, 255, 0.12);
}
