:host {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid;
  padding: 10px;
  gap: 10px;
  background: rgba(36, 36, 36, 1);

  .update-score {
    font-size: 18px;
    justify-content: center;
    display: flex;
  }

  form {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 400px;
    grid-template-columns: 400px;
  }

  .warning {
    color: red;
  }

  .range-slider {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;

    .roll-value {
      display: grid;
      justify-content: center;
    }

    input {
      cursor: pointer;
    }
  }
}
