<div class="update-score">
  Player '{{(selectCurrentPlayer$ | async)?.name}}' turn
</div>
<form (ngSubmit)="submitFrame()" #frameForm>
  <div class="range-slider">
    <label for="roll1">Roll 1:</label>
    <input type="range" min="0" max="10" step="1" [(ngModel)]="rollOne" required (ngModelChange)="onRollOneUpdate($event)" [ngModelOptions]="{standalone: true}"/>
    <label class="roll-value">{{rollOne}}</label>
  </div>

  <div class="range-slider">
    <label for="roll1">Roll 2:</label>
    <input type="range" min="0" max="{{rollTwoMax()}}" step="1" [(ngModel)]="rollTwo" required  [ngModelOptions]="{standalone: true}" disabled="{{disableRollTwo()}}"/>
    <label class="roll-value">{{rollTwo}}</label>
  </div>

  <div class="range-slider" *ngIf="shouldAddRollThird()">
    <label for="roll1">Roll 3:</label>
    <input type="range" min="0" max="10" step="1" [(ngModel)]="rollThird" required  [ngModelOptions]="{standalone: true}"/>
    <label class="roll-value">{{rollThird}}</label>
  </div>

  <button type="submit" [disabled]="!isValid()">Submit</button>
</form>
